body {
    background-color: rgb(207, 171, 171); 
}

a{
    color: green;
}
header{
    background: rgb(34, 33, 33);
    padding: 25px;
    color: rgb(250, 246, 246);
    margin-bottom: 25px;
    text-align: center;

   
    
}
main{
    background: cyan;
    width: 900px;
    border: solid black 5px;
    padding: 30px;
    margin: 50px 200px 50px 0px;
  
}
footer{
    background: blanchedalmond;
    padding: 25px 0px;
    text-align: center;
    margin-top: 25px;
  
}